 <%image_code = @cocktail.photo.key %> 
 <div class = "container"> 
  <div class = "card-trip" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/rombane/image/upload/<%=image_code%>);">
    <div class = "card-category-image"><%= cl_image_tag @cocktail.photo.key , height: 50, width: 50, crop: :fill%></div>
    <div class = card-trip-infos>
      <h2><%=@cocktail.name%>
      </h2>
    </div> 
  </div> 
  <p class = "card-sub-info"><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id)%> | <%= link_to "Delete this cocktail", cocktail_path(@cocktail.id), method: :delete %></p>
  <p class = "card-sub-info"></p>
 </div> 
 <h3> Doses: <h3>
<%@cocktail.doses.each do |dosage| %>
  <div class = "card-category doses">
  <h4><%=Ingredient.find(dosage.ingredient_id).name%></h4>
  <p><%=dosage.description%></p>
  <p class = "card-delete-dose"><%= link_to "Delete", dose_path(dosage.id), method: :delete %></p>
  </div>
  <br>
 

<% end %>
<br>
<p><%= link_to "Home", cocktails_path %></p>
