<h2><%=@cocktail.name%></h2>
<%@cocktail.doses.each do |dosage| %>
  <div class = "card-body">
  <h4><%=Ingredient.find(dosage.ingredient_id).name%></h4>
  <p><%=dosage.description%></p>
  <p><%= link_to "Delete this dose", dose_path(dosage.id), method: :delete %></p>
  </div>
  <br>
 
<% end %>
<p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id)%></p>
<p><%= link_to "Delete this cocktail", cocktail_path(@cocktail.id), method: :delete %></p>